*.pyc
*.mp4
*.jpeg
*.pkl
trained_models/
Crawler/videos/
Evaluation/samples_*/
Evaluation/data/
Evaluation/dumps/
Evaluation/submission_*
Evaluation/sub_t*
Evaluation/mbh_subs/
Evaluation/RF/
Evaluation/samples_*/
Evaluation/val_samples_*
Evaluation/tr_samples_*
my_subs/
caffe_models/snapshots/hog_4k_1k/
